<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>771374094158-cshehtv09lqmtt85q1qrkb5h2jj4tb0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771374094158-cshehtv09lqmtt85q1qrkb5h2jj4tb0d</string>
	<key>API_KEY</key>
	<string>AIzaSyAT0lMUBu51sy-ncoDoAeYnOlZzqjQxOEc</string>
	<key>GCM_SENDER_ID</key>
	<string>771374094158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DanielTeodoro.Shopper</string>
	<key>PROJECT_ID</key>
	<string>shopper-teste</string>
	<key>STORAGE_BUCKET</key>
	<string>shopper-teste.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771374094158:ios:b1c4e478cb729b5e</string>
	<key>DATABASE_URL</key>
	<string>https://shopper-teste.firebaseio.com</string>
</dict>
</plist>